<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <title>Las Jacarandas - Contact Me</title>
        <meta name="description" content="Las Jacarandas">
        <meta name="author" content="Jacob Hewitson">
        <meta name="keywords" content="Software Engineer, Software Developer, Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="main-header">Jacob Hewitson</h1>
        <h2 class="secondary-header">Software Developer, Passionate Learner, Ideal Employee</h2>
        <ul class="navbar">
            <li class="active"><a href="file:///C:/Users/jacob/Desktop/Website/MainPage.html">Home</a></li>
            <li><a href="file:///C:/Users/jacob/Desktop/Website/AboutMe.html">About Me</a></li>
            <li><a href="file:///C:/Users/jacob/Desktop/Website/Projects.html">Projects</a></li>
            <li><a href="file:///C:/Users/jacob/Desktop/Website/Resume.html">Resume</a></li>
            <li><a href="file:///C:/Users/jacob/Desktop/Website/ContactMe.html">Contact Me</a></li>
        </ul>

        <h2 class="body-title">Contact Me</h2>

        <p>Feel free to contact me at any time, I welcome messages from anybody. Even though I may not be able to respond right away I will always respond within 48-72 hours. Below I've included my contact information as well as my socials to follow me and get in touch. Here's also a form I've included to contact me via this website. I hope to hear from you soon!</p>

        <div class="socials">
            <ul>
                <li>
                    <a href="https://github.com/hewitson-j">
                        <i class="fa-brands fa-github"></i>
                        GitHub.com/hewitson-j
                    </a>
                </li>
                <li><a href="https://www.linkedin.com/in/jacob-hewitson-18b93321a/">
                    <i class="fa-brands fa-linkedin"></i>
                    LinkedIn
                </a>
                </li>
                <li><a href="https://www.instagram.com/the_man_hewi/">
                    <i class="fa-brands fa-instagram"></i>
                    Instagram
                </a>
                </li>
                <li><a href="https://www.facebook.com/jake.hewitson.31/">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook
                </a>
                </li>
            </ul>
        </div>

        <div class="copyright-line">
            <p>Copyright © Jacob Hewitson 2022</p>
        </div>
        <script src="https://kit.fontawesome.com/81fc4a4b78.js" crossorigin="anonymous"></script>
    </body>
</html>