<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <title>JacobHewitson.com - Home</title>
        <meta name="description" content="JacobHewitson.com - Home">
        <meta name="author" content="Jacob Hewitson">
        <meta name="keywords" content="Software Engineer, Software Developer, Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/Controller/Home.js" defer></script>
    </head>

    <body>
        <h1 class="main-header">Jacob Hewitson</h1>
        <h2 class="secondary-header">Software Developer, Passionate Learner, Ideal Employee</h2>
        <ul class="navbar">
            <li class="active"><a href="/View/MainPage.html">Home</a></li>
            <li><a href="/View/AboutMe.html">About Me</a></li>
            <li><a href="/View/Projects.html">Projects</a></li>
            <li><a href="/View/Resume.html">Resume</a></li>
            <li><a href="/View/ContactMe.html">Contact Me</a></li>
        </ul>

        <h2 class="body-title">Welcome!</h2>

        <p>
            Here on my website you'll be able to see some of the projects I'm currently working on.
        </p>

        <div class="copyright-line">
            <p>Copyright © Jacob Hewitson 2022</p>
        </div>
    </body>

</html>