<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <link rel="icon" href="/View/Images/android-chrome-192x192.png">
        <title>JacobHewitson.com - Projects</title>
        <meta name="description" content="Jacob Hewitson - Projects">
        <meta name="author" content="Jacob Hewitson">
        <meta name="keywords" content="Software Engineer, Software Developer, Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <script src="/Controller/Projects.js" defer></script>
        <h1 class="main-header">Jacob Hewitson</h1>
        <h2 class="secondary-header">Software Developer, Passionate Learner, Ideal Employee</h2>
        <ul class="navbar">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="/View/AboutMe.html">About Me</a></li>
            <li><a href="/View/Projects.html">Projects</a></li>
            <li><a href="/View/Resume.html">Resume</a></li>
            <li><a href="/View/ContactMe.html">Contact Me</a></li>
        </ul>

        <h2 class="body-title">Portfolio Projects</h2>

        <p>Below we have an example of some of my portfolio projects. All of this information can be found in my Github which I'll link below: </p>
        <div class="github-button">
            <a href="https://github.com/hewitson-j">
                <i class="fa-brands fa-github"></i>
                GitHub.com/hewitson-j
            </a>
        </div>

        <div class="accordion">
            <div class="container">
                <div class="label">JacobHewitson.com</div>
                <div class="content">Well, this is it! I did this website in Javascript and HTML. The styling was done in CSS.</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Mine Grinder Website</div>
                <div class="content">A website built for a client, this website is a React application. This is currently a work in progress, but stay tuned to see how it comes out! Click <a href="https://hewitson-j.github.io/MineGrinder/" id="external-link">here</a> to go to the Github repository.</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Calculator Application</div>
                <div class="content">A Javascript project. This calculator is a simple calculator which can add, subtract, multiply, and divide. This calculator is live at <a href="https://hewitson-j.github.io/CalculatorApp/">hewitson-j.github.io/CalculatorApp/</a>. You may also look at the repository <a href="https://github.com/hewitson-j/CalculatorApp">here</a>. Also, below I have included an image of the finished product:
                <br>
                <br>
                <img src="./Images/Calculator.jpg" class="project-images" alt="Calculator Application">
            </div>
            </div>

            <hr class="container-divider">
            <div class="container">
                <div class="label">Javascript Clock</div>
                <div class="content">A Javascript clock, it has both an analog clock as well as a digital clock to tell the time. This calculator is live at <a href="https://hewitson-j.github.io/Clock/">hewitson-j.github.io/Clock/</a>. You may also look at the repository <a href="https://github.com/hewitson-j/Clock">here</a>. Also, below I have included an image of the finished product:
                <br>
                <br>
                <img src="./Images/Clock.jpg" class="project-images" alt="Calculator Application">
            </div>
            </div>

            <hr class="container-divider">
            <div class="container">
                <div class="label">Javascript Stopwatch and Timer</div>
                <div class="content">A timer made in Javascript. It also includes a stopwatch. This application is live at <a href="https://hewitson-j.github.io/Timer/">hewitson-j.github.io/Timer/</a>. You may also look at the repository <a href="https://github.com/hewitson-j/Timer">here</a>. Also, below I have included an image of the finished product:
                <br>
                <br>
                <img src="./Images/Timer.jpg" class="project-images" alt="Timer Application">
            </div>
            </div>

            <hr class="container-divider">
            <div class="container">
                <div class="label">Python Web Crawler</div>
                <div class="content">This application accepts a web address and crawls the website and provides data from the website. Currently a work in progress, see <a href="https://github.com/hewitson-j/Web_Crawler">here</a> for more information.</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Church Website Bot</div>
                <div class="content">This AIML Bot was created to help users navigate <b>churchofjesuschrist.org</b> and help them find resources based on their needs. The GitHub files are <a href="https://github.com/hewitson-j/churchwebsitebot">here</a> and is live on the PandoraBots website. Click <a href="https://home.pandorabots.com/dash/bot-directory">here</a> to go to the directory and search <b><i>Church Website Bot</i></b> to find the live bot.</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Inventory Tracker - University Project</div>
                <div class="content">I did this project as the final assessment of my <b>Software I</b> course in univeristy. This application was made in <b>JavaFX</b> and <b>Java</b>. Primarily a front-end application, this app allows the user to create and track inventory for a bike store, both of bikes and associated parts. The application also allows the user to query search from among the parts and products.
                    <br>
                    <br>
                    While Western Governors University/WGU requires that I maintain the repository private, upon request I can provide access to the repository and the application as well as any related documents. Below, however, is an image of the application UI for reference:
                    <br>
                    <br>
                    <img src="./Images/Software-1.jpg" alt="Software 1 Application" class="project-images">
                </div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Appointment Tracker - University Project</div>
                <div class="content">I did this project as the final assessment of my <b>Software II</b> course in univeristy. This application was made in <b>JavaFX</b> and <b>Java</b>, connecting to a <b>MySQL</b> database. This app allows the user to create and track appointments. It is a secure app requiring a username and password to log on. 
                    <br>
                    <br>
                    While Western Governors University/WGU requires that I maintain the repository private, upon request I can provide access to the repository and the application as well as any related documents. Below, however, is an image of the application UI for reference:
                    <br>
                    <br>
                    <img src="./Images/Software-2.jpg" alt="Software 2 Application" class="project-images">
                </div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Delivery Route Calculator - University Project</div>
                <div class="content">I did this project as the final assessment of my <b>Data Structures and Algorithms II</b> course in univeristy. This application was made in <b>Python 3.10</b>. Given a list of addresses and constraints, this project tested my skills at writing an algorithm to determine optimal delivery routes of packages split between multiple delivery vehicles. It tested the algorithm's ability to 1) determine the best route given the distances between various points, 2) determine the best way to divide up the packages to meet weight requirements for the vehicles while still maintaining a maximum acceptable distance and 3) following client-requested adjustments it confirmed that all packages arrived on-time and before the end of the work day.
                    <br>
                    <br>
                    While Western Governors University/WGU requires that I maintain the repository private, upon request I can provide access to the repository and the application as well as any related documents. However, below I have included screenshots of the application UI for reference:
                    <br>
                    <br>
                    <div id="dsa-images">
                        <img src="./Images/DSA-A.jpg" class="project-images" alt="DSA Project Interface 1">
                        <img src="./Images/DSA-B.jpg" class="project-images" alt="DSA Project Interface 2">
                    </div>
                </div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Student Roster Application - University Project</div>
                <div class="content">I did this project as the final assessment of my <b>Scipting and Programming II</b> course in univeristy. This application was made in <b>C++</b>. Given an array of students and student information, the application parses this data and transforms it into student objects and validates for any incorrect or incomplete information.
                    <br>
                    <br>
                    While Western Governors University/WGU requires that I maintain the repository private, upon request I can provide access to the repository and the application as well as any related documents. Below, however, I have included a screenshot of the application in action:
                    <br>
                    <br>
                    <div id="accordion-images"><img src="./Images/ScriptingII.jpg" alt="Scripting II Project Interface" id="Scripting-II"></div>
                </div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Youtube Analytics Calculator - University Capstone</div>
                <div class="content">I did this project as the final capstone of my Bachelors of Science: Computer Science from Western Governors University/WGU. This application was made in <b>Jupyter Notebooks</b> and <b>Python 3.10</b> using the libraries <b>NumPy</b>, <b>Pandas</b>, <b>MatPlot Lib</b>, and <b>SciKit Learn</b>. This assessment required that given data either gathered by myself or obtained through third-party sources I would need to create a machine learning model that would predict a result given input, as well as explain the data. It needed to have a user-friendly interface and provide visuals to represent the data and show trends. The data I chose to base my application on was the Top 1000 Most-Subscribed YouTube Channels as of October 2022. With this, I was able to make my Jupyter Notebook application show the initial data in several graphs, and create my model which predicted one's YouTube channel ranking by subscriber within 99% accuracy.
                    <br>
                    <br>
                     While Western Governors University/WGU requires that I maintain the repository private, upon request I can provide access to the repository and the application as well as any related documents. However, <a href="./Images/Youtube_Analytics_Calculator.html">here</a> is a link to an HTML version the notebook.
                </div>
            </div>
        </div>

        <div class="copyright-line">
            <p>Copyright © Jacob Hewitson 2022</p>
        </div>
        <script src="https://kit.fontawesome.com/81fc4a4b78.js" crossorigin="anonymous"></script>
    </body>


</html>