<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <title>JacobHewitson.com - Projects</title>
        <meta name="description" content="Jacob Hewitson - Projects">
        <meta name="author" content="Jacob Hewitson">
        <meta name="keywords" content="Software Engineer, Software Developer, Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <script src="/Controller/Projects.js" defer></script>
        <h1 class="main-header">Jacob Hewitson</h1>
        <h2 class="secondary-header">Software Developer, Passionate Learner, Ideal Employee</h2>
        <ul class="navbar">
            <li class="active"><a href="/View/MainPage.html">Home</a></li>
            <li><a href="/View/AboutMe.html">About Me</a></li>
            <li><a href="/View/Projects.html">Projects</a></li>
            <li><a href="/View/Resume.html">Resume</a></li>
            <li><a href="/View/ContactMe.html">Contact Me</a></li>
        </ul>

        <h2 class="body-title">Portfolio Projects</h2>

        <p>Below we have an example of some of my portfolio projects. All of this information can be found in my Github which I'll link below: </p>
        <div class="github-button">
            <a href="https://github.com/hewitson-j">
                <i class="fa-brands fa-github"></i>
                GitHub.com/hewitson-j
            </a>
        </div>

        <div class="accordion">
            <div class="container">
                <div class="label">JacobHewitson.com</div>
                <div class="content">Well, this is it! I did this website in Javascript and HTML. The styling was done in CSS.</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Mine Grinder Website</div>
                <div class="content">A website built for a client, this website was coded in HTML and Javascript and styling was done in CSS. This is currently a work in progress, but stay tuned to see how it comes out! Click <a href="https://github.com/hewitson-j/MineGrinder" id="external-link">here</a> to go to the Github repository.</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Calculator Application</div>
                <div class="content">Sample Text</div>
            </div>
            <hr class="container-divider">
            <div class="container">
                <div class="label">Jacaranda Market</div>
                <div class="content">Sample Text</div>
            </div>
        </div>

        <div class="copyright-line">
            <p>Copyright © Jacob Hewitson 2022</p>
        </div>
        <script src="https://kit.fontawesome.com/81fc4a4b78.js" crossorigin="anonymous"></script>
    </body>


</html>